body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0px;
}

header {
  display: flex;
  width: 100%;
  height: 69px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
}

header img {
  height: 50px;
  margin-left: 10px;
}

header nav a {
  color: seashell;
  padding: 10px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
  width: 100%;
  align-items: center;
}

.mission {
  background-image: url(../Images/mission.jpg);
  display: flex;
  height: 700px;
  width: 1200px;
  align-items: center;
}

.mission .text {
  background-color: black;
  display: block;
  width: 100%;
  text-align: center;
}

.mission .text h2, .mission .text h4 {
  margin: 10px;
}

.tea {
  display: flex;
  width: 1000px;
  height: 700px;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 60px;
}

.tea-month {
  text-align: center;
  width: 100%;
  display: block;
  margin: 25px;
}

.tea-types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.tea-types .product {
  margin: 15px;
}

.tea-types .product img {
  height: 200px;
  width: 300px;
  display: block;
}

.tea-types .product span {
  margin: 10px;
  display: block;
}

.locations {
  display: flex;
  align-items: center;
  height: 550px;
  width: 1200px;
  background-image: url(../Images/locations.jpg);
  flex-direction: column;
}

.location-title {
  display: block;
}

.location-title h2 {
  margin: 60px 0 5px 0;
}

.location-box {
  display: flex;
  justify-content: center;
}

.location {
  background-color: black;
  display: flex;
  width: 300px;
  height: 300px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.location-box span {
  display: block;
  margin: 20px;
}

.footer {
  height: 200px;
  text-align: center;
  margin-bottom: 40px;
}

.copyright {
  margin-left: 20px;
  text-align: left;
}
